h1{
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    color: yellowgreen;
}
p{
    text-align: center;
    font-style: inherit;
    color: greenyellow;
    font-size: large;
}
.image{
    text-align: center;
    color: lawngreen;
}
#animate{
    width: 20px;
    height: 20px;
    position: absolute;
    background: red;
}
