/* *{
    align-items: center;
    font-family: cursive;
    font-weight: bolder;
    color: yellowgreen;
    font-size: large;
    font-style: inherit
} */
h1{
    color: blue;
    text-align: center;
}
p{
    text-align: center;
    font-style: inherit;
    color: greenyellow;
    font-size: large;
}
.image{
    text-align: center;
    color: lawngreen;
}
#card{
    box-shadow: silver;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card-button {
    border: none;
    outline: 0;
    padding :10px;
    color: white;
    background-color: violet;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}
.card-button:hover{
    opacity: 0.9;
}
body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),  url(../pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    height: fit-content;
    align-items: center;
    background-attachment: fixed;
}
label{
    padding: 10px 10px 10px 0;
    display: inline-block;
}