h1{
    color: blue;
    text-align: center;
    

}

.image{
    text-align: center;
    color: lawngreen;
}

body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),  url(../pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    height: fit-content;
    align-items: center;
    background-attachment: fixed;
    text-align: center;
    overflow-x: none;
}

#order{
    color:none;
}
h4{
    color: white;
    font-size: 30px;
}
#contact{
    text-align: center;
}
button{
    text-align: center;
    color: darkblue;
}
ul{
    text-align: center;
}